#intro {
    display: grid;
    grid-template-areas: "page-title" "introduction";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    padding: 10px;
}

.introduction {
    display: grid;
    grid-template-areas: "content mainPicture";
    grid-template-columns: 1fr 1fr;
}

.main-picture {
    background-image: url("../../assets/main-picture-vetrical.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: mainPicture;
}

@media only screen and (min-width: 500px) {
    #intro {
        padding: 20px;
    }

    .introduction {
        grid-template-columns: 1fr 0.5fr;
    }

    .main-picture {
        background-image: url("../../assets/main-picture-horizontal.jpeg");
    }
}

@media only screen and (min-width: 900px) {
    #intro {
        padding: 10px 100px 50px 100px;
    }
}

