#portfolio.block {
    padding-top: 0;
    padding-bottom: 0;
    min-height: calc(100vh - 120px);
}

#portfolio .filter {
    display: none;
}

#portfolio .basic-multi-select {
    max-width: 682px;
    margin: auto;
    z-index: 1000;
    font-size: 90%;
}

#portfolio .select__multi-value{
    font-weight: bolder;
}

#portfolio .select__clear-indicator {
    display: none;
}

#portfolio .content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 50px;
}

#portfolio .show-more {
    margin: 0 20px 40px 20px;
    position: relative;
}

#portfolio .show-more-content {
    padding: 0 20px;
    background-color: #ffffff;
    color: #767676;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .show-more-inside {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

#portfolio .show-more:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #ffffff;
    background: #d7d7d7;
    width: 100%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 550px) {
    #portfolio .title {
        padding-bottom: 0;
    }

    #portfolio .filter {
        padding: 0 120px 25px 120px;
        display: initial;
    }

    #portfolio .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    #portfolio .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    #portfolio .content {
        margin-top: 25px;
        grid-template-columns: repeat(4, 1fr);
    }
}
