#portfolio.block {
    padding-bottom: 0;
}

#portfolio .title {
    text-align: center;
    padding-bottom: 30px;
}

#portfolio .content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 50px;
}

#portfolio .show-more {
    margin: 0 20px 20px 20px;
    position: relative;
}

#portfolio .show-more-content {
    display: inline;
    padding: 0 20px;
    margin: 0 50%;
    background-color: #ffffff;
    color: #767676;
    cursor: pointer;
}

#portfolio .show-more-inside {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

#portfolio .show-more:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #ffffff;
    background: darkgrey;
    width: 100%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 650px) {
    #portfolio .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    #portfolio .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    #portfolio .content {
        grid-template-columns: repeat(4, 1fr);
    }
}
