#intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    grid-area: content;
}

#intro-content .slider {
    font-size: 16px;
    font-size: 2.9vh;
}

.slider * {
    box-sizing: border-box;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.wrapper {
    background: #ffffff;
    width: 55vw;
    display: flex;
    margin: 0 auto;
}

.slide {
    width: 0;
    cursor: pointer;
}

.content-inner {
    width: 55vw;
    height: 100%;
    padding: 31px 31px 31px 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    overflow-y: auto;
}

#i_1:checked ~ .wrapper .content1,
#i_2:checked ~ .wrapper .content2,
#i_3:checked ~ .wrapper .content3 {
    opacity: 1;
    pointer-events: auto;
}

.controls {
    padding: 0 31px;
    text-align: right;
}

label {
    color: #E0E0E0;
    transition-duration: .6s;
    cursor: pointer;
}

#i_1:checked ~ .controls label[for="i_1"],
#i_2:checked ~ .controls label[for="i_2"],
#i_3:checked ~ .controls label[for="i_3"] {
    color: #424242;
}

@media only screen and (min-width: 500px) {
    #intro-content .slider {
        font-size: 16px;
        font-size: 3.5vh;
    }
}

@media only screen and (min-width: 1403px) {
    #intro-content {
        position: relative;
    }

    #intro-content .slider {
        transform: translate(7%, 0%);
        font-size: 16px;
        font-size: 3.1vh;
    }

    .content-inner {
        max-height: 32vh;
        padding: 52px;
    }

    .controls {
        padding: 0 52px;
        text-align: center;
    }
}
