#footer {
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    color: darkgrey;
    border-top: 1px solid whitesmoke;
}

.footer-links * {
    padding: 5px 5px 10px 5px;
    font-size: 120%;
}