* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(66, 207, 190);
}

.container {
    height: 100vh;
    font-family: 'Playfair Display', 'sans-serif';
}

.block {
    min-height: calc(100vh - 50px);
    padding: 50px;
    /*border-bottom: 1px solid whitesmoke;*/
}

.block .title {
    text-align: center;
    padding-bottom: 30px;
}
