.project .image {
    min-height: 200px;
    min-width: 200px;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.5s;
}

.project:hover .image {
    transform: scale(1.1);
}

.project .image .icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    font-size: 260%;
    color: #ffffff;
    transition: opacity 2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.project:hover .image .icons {
    opacity: 1;
    height: auto;

}

.project .image .icons a {
    padding: 10px;
}

.project .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0);
}

.project:hover .layer {
    background-color: rgba(0, 0, 0, 0.6);
}

.project .project-title {
    background-color: #ffffff;
    width: 60%;
    padding: 20px;
    transform: translate(0%, -60%);
    text-align: center;
    transition: 1s;
    font-size: 110%;
}

.project:hover .project-title {
    font-weight: bolder;
}

/* The ribbons */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid rgb(40, 114, 99);
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: rgba(78, 201, 181, 0.95);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
}

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}